@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
}

/* ===== HEADER ===== */

.container{
    margin-bottom: 2rem;
    max-width: 360px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.rightHeader{
    text-align: right;
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

#themeNo{
    margin-bottom: 5px;
    margin-right: 4px;
}

#themeToggle{
    display: flex;
    align-items: center;
}

/* ===== RANGE ===== */

input[type='range'] {
    overflow: hidden;
    width: 2.5rem;
    -webkit-appearance: none;
    border-radius: 2rem;
    padding: 3px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 0.75rem;
    -webkit-appearance: none;
    height: 0.75rem;
    border-radius: 50%;
    background: hsl(6, 63%, 50%);
  }

  input[type='range']::-webkit-slider-thumb:hover{
    background: hsl(6, 71%, 61%);
  }

/* ===== RESULT ===== */

.resSection{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 4rem;
}

#result{
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: right;
    box-shadow: none;
    font-size: 38px;
    font-weight: 700;
}

/* ===== KEYPAD ===== */

.keyPad{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.button{
    margin: 0.5rem;
    width: 4rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
}

.reset, .cal{
    width: 9rem;
}

.del, .reset, .cal{
    font-size: 16px;
    font-weight: 600;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 39%, 55%); 
}