@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
}

.container{
    margin-bottom: 2rem;
    max-width: 360px;
}

.resSection{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 4rem;
}

#result{
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: right;
    box-shadow: none;
    font-size: 38px;
    font-weight: 700;
}

.keyPad{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.button{
    margin: 0.5rem;
    width: 4rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
}

.reset, .cal{
    width: 9rem;
}

.del, .reset, .cal{
    font-size: 16px;
    font-weight: 600;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 39%, 55%); 
}